.character-card {
  background-color: var(--color-surface-container);
  border-radius: var(--space-3);
  border: 1px solid var(--color-outline-variant);
  column-gap: var(--space-3);
  display: flex;
  padding: var(--space-3);
}

.character-card__image {
  aspect-ratio: 60 / 81;
  border-radius: var(--radius-sm);
  max-width: 3.75rem;
  object-fit: cover;
  width: 100%;
}

.character-card__content {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 2px;
  width: 100%;
}

.character-card__name {
  color: var(--color-on-surface);
  font-size: var(--font-size-label-medium);
  font-weight: var(--font-weight-label-medium);
  letter-spacing: var(--letter-spacing-label-medium);
  line-height: var(--line-height-label-medium);
}

.character-card__role {
  color: var(--color-on-surface-variant);
  font-size: var(--font-size-label-small);
  font-weight: var(--font-weight-label-small);
  letter-spacing: var(--letter-spacing-label-small);
  line-height: var(--line-height-label-small);
}

.character-card__seiyuu {
  bottom: 0;
  color: var(--color-on-surface);
  font-size: var(--font-size-label-medium);
  font-weight: var(--font-weight-label-medium);
  left: 0;
  letter-spacing: var(--letter-spacing-label-medium);
  line-height: var(--line-height-label-medium);
  position: absolute;
}

@media (min-width: 1240px) {
  .character-card__name {
    font-size: var(--font-size-title-small);
    font-weight: var(--font-weight-title-small);
    letter-spacing: var(--letter-spacing-title-small);
    line-height: var(--line-height-title-small);
  }
}
