:root {
  --space-1: 0.25rem; /*  4px */
  --space-2: 0.5rem; /*  8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */
  --space-16: 4rem; /* 64px */

  --lateral-global-padding: var(--space-4);

  --max-width: 1444px;
  --header-height: 3.5rem;
  --bottom-nav-height: 4rem;
}

@media (min-width: 600px) {
  :root {
    --lateral-global-padding: var(--space-6);
  }
}

@media (min-width: 905px) {
  :root {
    --lateral-global-padding: var(--space-8);

    --header-height: 4rem;
  }
}

@media (min-width: 1240px) {
  :root {
    --lateral-global-padding: var(--space-12);
  }
}
